*.png
*.jpg      
*.jpeg

*.txt
*.json

*.pyc

desktop.ini

for_inbal/     
TernsTags/
TrackingTerns/TrackingResult/
YoloDetector/test_images/
YoloDetector/TrainedVersions/
YoloDetector/TrainingData/
YoloDetector/TrainingVersions/
YoloDetector/YoloResults/